/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
   Created on : Jan 7, 2020, 22:33:05 PM
    Author     : ASUS
*/

.margin-top-50{
                margin-top: 150px;
            }
            
            .margin-top-30{
                margin-top: 65px;
            }
            
            .p-title{
                margin-bottom: 2px;
    font-weight: bold;
            }
            .input-box{
                width: 80%;
    height: 41px;
    border-radius: 5px;
    border: 1px solid gray;
    margin-bottom: 25px;
padding-left: 10px;
            }
            
            .last-title{
                margin-top: -15px;
    margin-left: 111px;
            }
            
            .btn-login{
                margin-top: 10px;
    border: 1px solid transparent;
    color: #fff;
    background: #000;
    width: 80px;
    height: 38px;
    border-radius: 14px;
            }
            
            .first-title{
                font-size: 18px;
    margin-bottom: 18px;
            }
            
            .last-title-1{
                margin-top: -15px;
    margin-left: 87px;
            }
            
            .home-title{
                font-size: 20px;
    margin-left: 255px;
            }
            
            .home-btn{
                margin-top: 10px;
    color: #fff;
    background: #000;
    border: 1px transparent;
    width: 106px;
    height: 38px;
    border-radius: 5px;
            }
            
            .home-btn-1{
                margin-top: 10px;
    color: #fff;
    background: #000;
    border: 1px transparent;
    width: 106px;
    height: 38px;
    border-radius: 5px;
    margin-left: -66px;
            }
            
            .cmt-box{
                height: 90px;
    width: 122%;
    padding-left: 10px;
    padding-bottom: 45px;
            }
            
            .cmt-btn{
                height: 32px;
    
    border: 1px transparent;
    color: #fff;
    background: #000;
    margin-top: 14px;
    width: 81px;
    border-radius: 5px;
    margin-left: 358px;
            }
            
            .cmt-box-1{
                border: transparent;
    border-bottom: 1px solid;
    margin-top: 10px;
    margin-bottom: 32px;
            }